@import "../../../../utils/all.scss";

@mixin itemStyle($bgc: white, $color: white) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-radius: 4px;
  @include flexBox(center, center);
}

// 下面展示表格以及文件列表
.content1 {
  width: 100%;
  height: 750px;
  padding: 30px 0 50px;
  background-color: rgb(249, 249, 249);
  @include flexBox(center, center);
  flex-direction: column;
  .top-table {
    width: 96%;
    height: 15%;
    @include flexBox(flex-start, center);
    .t-square {
      width: 27px;
      height: 27px;
      border-radius: 5px;
      background-color: $mainColor;
    }
    .t-name {
      color: $titleColor;
      margin-left: 30px;
      font-size: 35px;
    }
  }

  .bottom-table {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    @include flexBox(flex-start, center);
    // 左边表格
    .content-left {
      width: 80%;
      height: 100%;
      @include flexBox(flex-start, center);
      flex-direction: column;
      // 文字说明样式
      .textExplain {
        width: 85%;
        height: 15%;
        overflow: auto;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        font-family: "Microsoft JhengHei";
        color: rgb(22, 122, 149);
        border: 1px solid rgb(226, 226, 226);
      }
      .textExplain::selection {
        color: black;
        background-color: rgb(91, 202, 232);
      }
      // 主体表格样式
      .table-border {
        width: 85%;
        height: 70%;
        margin-top: 30px;
        border-radius: 4px;
        @include flexBox(center, center);
        .content-table {
          width: 100%;
          height: 100%;
          margin-top: 20px;
          @include flexBox();
          flex-direction: column;
          // 表格头部一行小方块
          .headerIndex {
            width: 100%;
            height: 11.1%;
            @include flexBox();
            .headerItem {
              width: 12.5%;
              height: 100%;
              border-radius: 1px;
              @include itemStyle($mainColor, $textColor);
            }
          }

          .tbl-cnt {
            width: 100%;
            height: 89.9%;
            @include flexBox();
            // 具体数据表格小方块
            .detail {
              width: 100%;
              height: 100%;
              .detailRow {
                width: 100%;
                height: 12.5%;
                @include flexBox();
                .detailItem {
                  width: 12.5%;
                  height: 100%;
                  border-radius: 3px;
                  @include flexBox();
                  @include itemStyle(rgb(244, 244, 244), rgb(121, 121, 121));
                }
                .detailItem::selection,
                .detailItem:focus {
                  color: $mainColor;
                  background-color: rgb(255, 225, 0);
                }
              }
            }
          }
        }
      }
    }
    // 右边文件结果最大最小等的展示
    .content-right {
      width: 20%;
      height: 100%;
      @include flexBox(flex-start, flex-start);
      flex-direction: column;
      // 展示结果的样式
      .cnt-rgt-res {
        width: 90%;
        height: 65%;
        @include flexBox(center, flex-start);
        .cnt-rgt-res-center {
          width: 95%;
          height: 100%;
          border: 1px solid rgb(228, 228, 228);
          border-radius: 5px;
          @include flexBox(flex-start, flex-start);
          flex-direction: column;
          .head {
            width: 100%;
            height: 18%;
            background-color: $mainColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            color: $textColor;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: "Calisto MT";
            @include flexBox(center, center);
          }
          .value {
            width: 100%;
            height: 82%;
            @include flexBox(space-around);
            flex-direction: column;
            .top {
              width: 100%;
              height: 80%;
              @include flexBox(space-around, center);
              flex-direction: column;
              .val-item {
                width: 90%;
                height: 20%;
                background-color: rgb(255, 255, 255);
                @include flexBox(space-between, center);
                .fang {
                  width: 20%;
                  height: 100%;
                  @include flexBox(center, center);
                  .center {
                    width: 20px;
                    height: 20px;
                    background-color: $mainColor;
                    border-radius: 4px;
                  }
                }
                .val {
                  width: 80%;
                  height: 100%;
                  font-size: 19px;
                  color: $titleColor;
                  @include flexBox(flex-start, center);
                }
              }
            }
          }
        }
      }
    }
  }
}
