@import "../../../../utils/all.scss";

@mixin itemStyle($bgc: white, $color: white) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-radius: 4px;
  @include flexBox(center, center);
}

// 下面展示表格以及文件列表
.content3 {
  width: 100%;
  height: 790px;
  padding: 0px 0 30px;
  background-color: rgb(255, 255, 255);
  @include flexBox(center, center);
  flex-direction: column;
  .top-table {
    width: 96%;
    height: 15%;
    @include flexBox(flex-start, center);
    .t-square {
      width: 22px;
      height: 22px;
      border-radius: 5px;
      background-color: $mainColor;
    }
    .t-name {
      color: $titleColor;
      margin-left: 20px;
      font-size: 28px;
    }
  }

  .bottom-table {
    width: 100%;
    height: 85%;
    padding-top: 10px;
    @include flexBox(flex-start, center);
    // 左边表格
    .content-left {
      width: 80%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      @include flexBox(flex-start, center);
      flex-direction: column;
      // 文字说明样式
      .textExplain {
        width: 90%;
        min-height: 15%;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        font-family: "Microsoft JhengHei";
        color: $explainColor;
        background-color: rgb(252, 252, 252);
        border: 1px solid rgb(226, 226, 226);
      }

      // 主体表格样式
      .content-table {
        width: 90%;
        height: 75%;
        margin-top: 40px;
        overflow: auto;
        .table-box {
          width: 16000px;
          height: 8995px;
          @include flexBox();
          flex-direction: column;
          // 表格头部一行标签
          .table-header {
            width: 100%;
            height: 0.4%;
            @include flexBox();
            .head-item {
              width: 0.39%;
              height: 100%;
              @include itemStyle($mainColor, $textColor);
              border-radius: 2px;
            }
          }
          // 表格文件内容样式
          .table-content {
            width: 100%;
            height: 99.6%;
            @include flexBox();
            // 内容中左边一列下标
            .tab-con-index {
              width: 0.39%;
              height: 100%;
              @include flexBox();
              flex-direction: column;
              .tab-con-indexItem {
                width: 100%;
                height: 0.39%;
                @include itemStyle($mainColor, $textColor);
                border-radius: 2px;
              }
            }
            //中间表格item
            .tab-con-content {
              width: 99.6%;
              height: 100%;
              @include flexBox(flex-start, flex-start);
              flex-direction: column;
              .tab-row-item {
                width: 100%;
                height: 0.39%;
                @include flexBox();
                .row-item-col {
                  width: 0.39%;
                  height: 100%;
                  @include itemStyle(rgb(244, 244, 244), rgb(104, 104, 104));
                }
                .row-item-col::selection,
                .row-item-col:focus {
                  color: $selectColor;
                  background-color: $selectBgc;
                }
              }
            }
          }
        }
      }
      // 设置滚动条样式
      .content-table::-webkit-scrollbar {
        background-color: rgb(255, 255, 255, 0.1);
      }
      /* 滚动条里面小方块 */
      .content-table::-webkit-scrollbar-thumb {
        background: $titleColor;
      }
      /* 滚动条里面轨道 */
      .content-table::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(71, 71, 71, 0.1);
      }
    }

    // 右边文件结果最大最小等的展示
    .content-right {
      width: 20%;
      height: 100%;
      @include flexBox(flex-start, flex-start);
      flex-direction: column;
      // 展示结果的样式
      .cnt-rgt-res {
        width: 90%;
        height: 46%;
        @include flexBox(center, flex-start);
        .cnt-rgt-res-center {
          width: 95%;
          height: 100%;
          border: 1px solid rgb(228, 228, 228);
          border-radius: 5px;
          background-color: rgb(248, 248, 248);
          @include flexBox(flex-start, flex-start);
          flex-direction: column;
          .head {
            width: 100%;
            height: 25%;
            background-color: $mainColor;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            color: $textColor;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 3px;
            @include flexBox(center, center);
          }
          .value {
            width: 100%;
            height: 82%;
            @include flexBox(space-around);
            flex-direction: column;
            .top {
              width: 100%;
              height: 80%;
              @include flexBox(space-around, center);
              flex-direction: column;
              .val-item {
                width: 90%;
                height: 29%;
                background-color: rgb(255, 255, 255);
                @include flexBox(space-between, center);
                .fang {
                  width: 20%;
                  height: 100%;
                  @include flexBox(center, center);
                  .center {
                    width: 20px;
                    height: 20px;
                    background-color: $mainColor;
                    border-radius: 4px;
                  }
                }
                .val {
                  width: 80%;
                  height: 100%;
                  font-size: 19px;
                  color: $titleColor;
                  @include flexBox(flex-start, center);
                }
              }
            }
          }
        }
      }
    }

 
  }
}
