@import "../../../utils/all.scss";

@mixin itemStyle($bgc: white, $color: white) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-radius: 4px;
  @include flexBox(center, center);
}
@mixin commonTextStyle(
  $bgc: rgb(231, 231, 231),
  $color: black,
  $size: 14px,
  $spacing: 1px
) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  font-size: $size;
  letter-spacing: $spacing;
  @include flexBox(center, center);
}

// 上传文件确认弹框的大小
#upload {
  width: 200px;
  display: flex;
  justify-content: space-around;
  .ant-popover-inner-content {
    width: 100%;

    .ant-btn {
      width: 30%;
      height: 100%;
    }
  }
}

// 删除弹窗样式
.ant-popover-inner-content {
  padding: 3px 10px;
  width: 200px;
  z-index: 2;
  .ant-popover-buttons {
    display: flex;
    justify-content: space-around;
    .ant-btn {
      width: 45%;
    }
  }
}

.uploadShow {
  background: none;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  position: absolute;
  min-width: 1200px;
  @include flexBox();
  flex-direction: column;
  // 头部显示名称和控制退出登录
  .header {
    background-color: $mainColor;
    width: 100%;
    height: 85px;
    min-width: 1200px;
    position: fixed;
    overflow: auto;
    z-index: 20;
    font-size: large;
    @include flexBox();
    .h-left {
      height: 100%;
      margin-left: 10px;
      @include flexBox();
      .showName,
      .Exit {
        width: auto;
        height: 100%;
        margin-left: 20px;
        color: $textColor;
        letter-spacing: 1px;
        @include flexBox(center, center);
        span {
          margin-right: 10px;
          font-weight: 150;
        }
        .ant-btn-text {
          letter-spacing: 2px;
          color: $textColor;
          font-size: large;
          font-weight: 150;
          cursor: pointer;
          margin-top: -10px;
        }
      }
      .showName {
        font-size: 22px;
        cursor: pointer;
        @include flexBox(center, center);
        // flex-direction: column;
        font-style: italic;
        span {
          color: rgb(255, 179, 0);
        }
        .Img {
          width: 53px;
          margin-right: 10px;
        }
      }
      .Exit {
        position: relative;
        margin-left: 30px;
        letter-spacing: 2px;
      }
    }
    .h-right {
      height: 100%;
      margin-right: 15px;
      font-weight: 150;
      @include flexBox(flex-start, center);
      .item {
        height: 55%;
        @include flexBox(center, center);
        padding: 0 10px;
        color: $textColor;
        letter-spacing: 1px;
      }
      .item:hover {
        color: $selectColor;
        cursor: pointer;
        background-color: $selectBgc;
        border-radius: 4px;
      }
    }
  }

  .content {
    width: 100%;
    height: 92%;
    margin-top: 85px;
    flex-wrap: wrap;
    overflow: auto;
    // 中间标题和控件层
    .control {
      width: 100%;
      @include flexBox();
      flex-direction: column;
      .title,
      .controlElement {
        width: 100%;
        height: 48%;
        background-color: rgb(255, 255, 255);
      }
      // 标题
      .title {
        font-size: 15px;
        color: $mainColor;
        padding: 16px 65px;
        letter-spacing: 1px;
        @include flexBox(flex-start, flex-start);
        .down {
          color: $selectBgc;
          cursor: pointer;
          font-size: 17px;
          margin-top: -2px;
          text-decoration: underline;
          font-style: italic;
        }
        .down:hover {
          color: $titleColor;
        }
      }
      // 控件
      .controlElement {
        height: 50px;

        @include flexBox();
        .cle-left,
        .cle-right {
          width: 35%;
          height: 100%;
          margin-left: 15px;
          @include flexBox(space-around, flex-start);
          // 左边upload button的样式
          .ant-upload {
            @include flexBox(space-around, center);
            height: 100%;
            width: 100%;
          }
          // 两边控件大小
          .scan-import1,
          .scan-import2,
          .scan-import3 {
            width: 42%;
            height: 80%;
            @include flexBox(space-around, flex-start);
            .cle-left-btn,
            .cle-left-btn1 {
              width: 100%;
              height: 100%;
              color: #237d65;
              background: rgb(243, 243, 243);
              border: 2px solid #145a47;
              border-radius: 5px;
              transition: 0.8s;
              letter-spacing: 1px;
              @include flexBox(center, center);
              cursor: pointer;
            }
            .cle-left-btn1 {
              color: $selectBgc;
              background: $mainColor;
              border: 2px solid $mainColor;
            }
            .cle-left-btn:hover {
              color: $selectColor;
              background: $selectBgc;
              border: 2px solid $mainColor;
            }
          }
          .scan-import2 {
            width: 45%;
            margin-left: 15px;
          }
          .scan-import3 {
            width: 90%;
            margin-right: 7px;
          }
        }
        .cle-left {
          @include flexBox(flex-start, flex-start);
          margin-left: 29px;
        }
        .cle-right {
          width: 18%;
        }
      }
    }
    //   设置分割线样式
    .ant-divider-horizontal {
      margin: 0px;
      background-color: rgba(34, 52, 66, 0.1);
      text-align: center;
      height: 1.5px;
    }
    .c-bottom {
      // 下面展示表格以及文件列表
      background-color: rgb(253, 253, 253);
      width: 100%;
      height: 567px;
      @include flexBox(flex-start, center);
      // 左边表格
      .content-left {
        width: 80%;
        height: 100%;
        background-color: #fff;
        border-right: 1px solid rgba(217, 217, 217, 0.4);
        box-shadow: 0 0 0 10px 10px rgb(32, 32, 32);
        @include flexBox(center, center);
        // 主体表格样式
        .content-table {
          width: 95%;
          height: 85%;
          border: 1px solid rgba(246, 246, 246, 0.8);
          @include flexBox();
          flex-direction: column;
          // 表格头部一行标签
          .table-header {
            width: 100%;
            height: 5.9%;
            @include flexBox();
            .head-item {
              width: 5.9%;
              height: 100%;
              @include itemStyle($mainColor, $textColor);
              border-radius: 2px;
            }
          }
          // 表格文件内容样式
          .table-content {
            width: 100%;
            height: 94.1%;
            @include flexBox();
            // 内容中左边一列下标
            .tab-con-index {
              width: 5.9%;
              height: 100%;
              @include flexBox();
              flex-direction: column;
              .tab-con-indexItem {
                width: 100%;
                height: 6.25%;
                @include itemStyle($mainColor, $textColor);
                border-radius: 2px;
              }
            }
            //中间表格item
            .tab-con-content {
              width: 94.1%;
              height: 100%;
              @include flexBox();
              flex-direction: column;
              .tab-row-item {
                width: 100%;
                height: 6.25%;
                @include flexBox();
                .row-item-col {
                  width: 6.25%;
                  height: 100%;
                  @include itemStyle(rgb(244, 244, 244), rgb(104, 104, 104));
                }
                .row-item-col::selection,
                .row-item-col:focus {
                  color: $selectColor;
                  background-color: $selectBgc;
                }
              }
            }
          }
        }
      }
      // 右边文件列表
      .content-right {
        width: 20%;
        height: 100%;
        background-color: #fff;
        @include flexBox(center, center);
        .ctn-right-center {
          width: 90%;
          height: 84%;
          border-radius: 3px;
          @include flexBox();
          flex-direction: column;
          .list-top,
          .list-bottom {
            width: 100%;
            height: 10%;
            @include commonTextStyle($mainColor, $textColor, 19px, 2px);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
          .list-top {
            font-weight: 100;
            font-size: 20px;
          }
          // 中间展示已经上传的数据
          .list-show {
            width: 100%;
            height: 80%;
            @include flexBox();
            flex-direction: column;
            .list-item {
              padding: 0;
              @include flexBox();
              flex-direction: column;
              // 文件名字
              .fileName {
                width: 100%;
                height: 50%;
                @include flexBox(center, center);
                font-size: 14px;
                .Span {
                  width: 80%;
                  overflow: hidden;
                  white-space: nowrap; /*禁止换行*/
                  text-overflow: ellipsis; /*文本超出隐藏*/
                  color: #1c3448;
                  font-size: 15px;
                }
                .Span:hover {
                  color: rgb(110, 110, 110);
                }
              }
              // 三个按钮
              .file-btn {
                width: 100%;
                height: 50%;
                @include flexBox(center, center);
                .showData,
                .delete,
                .showRes {
                  width: 33.3%;
                  height: 50%;
                  @include flexBox(center, center);
                  .ant-btn > span {
                    color: #deba36;
                    font-size: 14px;
                  }
                }
                .showRes {
                  .ant-btn > span {
                    color: #579edf;
                  }
                }
                .delete {
                  .ant-btn > span {
                    color: #e35b4b;
                  }
                  .ant-btn:focus-visible {
                    background-color: rgb(195, 138, 138);
                  }
                }
              }
            }
            // 展示文件名和删列的样式
            .ant-spin-nested-loading {
              width: 100%;
              height: 85%;
              .ant-spin-container {
                width: 100%;
                height: 100%;
                @include flexBox(center, center);
                .ant-list-items {
                  width: 100%;
                  height: 100%;
                  li {
                    width: 100%;
                    height: 20%;
                  }
                }
              }
            }
            // 下面分页的样式
            .ant-list-pagination {
              margin: 0;
              width: 100%;
              height: 15%;
              @include flexBox(center, center);
            }
          }
          .list-bottom {
            height: 12%;
            border-radius: 0;
            padding: 5px;
            @include commonTextStyle($mainColor, $textColor, 13px);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }
    }

    .detail-table {
      width: 100%;
      height: 500px;
      background-color: rgb(16, 26, 34);
      color: $textColor;
      font-size: 60px;
      font-family: "Courier New", Courier, monospace;
      @include flexBox(center, center);
      .icon {
        margin-left: 20px;
        color: $textColor;
      }
      .ant-spin-dot-item {
        background-color: $textColor;
      }
    }

    // 最后底部说明文字
    .true-bottom {
      width: 100%;
      height: 250px;
      margin-top: 30px;
      background-color: rgb(13, 24, 32);
      color: $textColor;
      @include flexBox(space-around, center);
      flex-direction: column;
      .b-top {
        width: 100%;
        height: 20%;
        padding: 20px;
        font-size: 25px;
        font-weight: 100;
        letter-spacing: 3px;
        font-style: italic;
      }
      .b-bottom {
        width: 90%;
        height: 70%;
        padding: 20px;
        font-size: 17px;
        letter-spacing: 1px;
        .email {
          text-decoration: underline;
        }
      }
    }
  }
}
